.error {
    color: red;
}

.center {
    text-align: center!important;
}

#drop_zone {
    background-color: #feeaea;
    border: #a1533e 5px dashed;
    width: 100%;
    padding : 60px 0;
}

#drop_zone p {
    font-size: 20px;
    text-align: center;
}

#btn_upload, #selectfile {
    display: none;
}

a {
    text-decoration: none!important;
}

th {text-align: center!important;}

.dataTables_length,
.dataTables_info {
    text-align: left;
}